# Required Parameters

EXTERNAL_IP_ADDRESS="AUTO"; # The internet facing IP address of the ground station.  Use AUTO for auto detection.  Be wary of DHCP'ed addresses.
DEVICE_LIST="ttyS0 ttyS1 ttyS2 ttyS3"; # The serial devices to use to accept calls from the satellite modems.

# Optional Parameters

#IRC_ID=""; # Two characters only. Blank ("") assigns random number from 0-99 the first time.  Future invocations use the previous value.
#IRC_DOMAIN=""; # Remainder of FQDN for the IRC server ie: "example.org"
#AIRCRAFT_NETWORK="10.1.1.0/24"; # The aircraft network, traffic destined to this network will be routed to the PPP interfaces.

# Port forward list (Entries separated by spaces).
# Format: HOST_PORT,AIRCRAFT_ADDRESS:AIRCRAFT_PORT HOST_PORT,AIRCRAFT_ADDRESS:AIRCRAFT_PORT ...
# List of UDP ports to forward to the appropriate aircraft computer.  No checks are made on the validity of the network addresses.
#PORT_FORWARD="2022,10.1.1.20:22 2122,10.1.1.21:22"

# Time to wait for the user to confirm parameters
# Default of 0 means wait forever (keyboard input required)
# Set this to a value great of zero to automate the install
USER_WAIT=5

# To start the modems at boot uncomment this line
# This is fairly safe for the ground or POTS receiver,
# but may be costly for an actual satellite modem.
# Thus, this is disabled/off by default
#AUTO_START=1

# To force a recompile UnrealIRCd completely, uncomment
#RECOMPILE=1

# If this is a virtual host uncomment the next line
VIRTUAL_HOST=1
