# Required Parameters

EXTERNAL_IP_ADDRESS="AUTO"; # The (likely private IP space) aircraft network IP address.  Use AUTO for auto detection.
DEVICE_LIST="ttyS0 ttyS1 ttyS2 ttyS3"; # The serial devices to use to accept calls from the satellite modems.
INIT_PHONE="5555550100"; # The initial phone number to use to dial out.  See PHONE NUMBER OPTIONS

# PHONE NUMBER OPTIONS

# There are two additional methods of specifying the phone numbers to use.
# In order of precedence, they are PHONE_NUMBERS and SINGLE_PHONE.
# By default INIT_PHONE is used and is incremented by one for each additional device.

# PHONE_NUMBERS is a string list similar to DEVICE_LIST which lists the phone numbers to use.
# It should be the same length as DEVICE_LIST and maps 1:1
#PHONE_NUMBERS=""

# SINGLE_PHONE if set will assign the same single phone number to all devices.
#SINGLE_PHONE=""

# Optional Parameters

#IRC_ID=""; # Two characters only. Blank ("") assigns random number from 0-99 the first time.  Future invocations use the previous value.
#IRC_DOMAIN=""; # Remainder of FQDN for the IRC server ie: "example.org"
#AIRCRAFT_NETWORK="10.1.1.0/24"; # The aircraft network, needed to allow web proxy traffic.

# Time to wait for the user to confirm parameters
# Default of 0 means wait forever (keyboard input required)
# Set this to a value great of zero to automate the install
USER_WAIT=5

# To start the modems at boot uncomment this line
# This is fairly safe for the ground or POTS receiver,
# but may be costly for an actual satellite modem.
# Thus, this is disabled/off by default
#AUTO_START=1

# To force a recompile UnrealIRCd completely, uncomment
#RECOMPILE=1
